<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a id="loginButton" href="#">Login with Google</a>
    <script type="module">
        const getGoogleOAuthURL = () => {
        const oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';

        const params = {
        client_id: process.env.GOOGLE_CLIENT_ID,
        redirect_uri: process.env.GOOGLE_REDIRECT_URL,
        response_type: "code",
        prompt: "consent",
        access_type: "offline",
        scope: [
        "https://www.googleapis.com/auth/userinfo.email",
        "https://www.googleapis.com/auth/userinfo.profile"
        ].join(" ")
        }
        console.log(params)
        const qs = new URLSearchParams(params)
        console.log(qs.toString())
        return `${oauth2Endpoint}?${qs.toString()}`
        }
        document.addEventListener('DOMContentLoaded', () => {
            const loginButton = document.getElementById('loginButton');
            loginButton.href = getGoogleOAuthURL();
        });
    </script>
</body>

</html>